<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" [attr.aria-expanded]="collapsed" (click)="collapsed = !collapsed">
        <span class="sr-only">Toggle Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">
        {{appName}}
        <span class="tagline">{{appTagline}}</span>
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="spaceships" routerLinkActive="active">Spaceship Catalog</a></li>
      </ul>
    </div>

  </div>
</nav>
