.panel {
    position: relative;

    figure {
        overflow: hidden;
        max-height: 375px;
        
        img {
            width: 100%;
            transform: scale(1);
            transition: 300ms ease-in-out;
            filter: grayscale(100%);
        }

    }

    &:hover figure img {
        transform: scale(1.3);
        filter: grayscale(0%);
    }

    .panel-title {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 400;
    }

}