<div class="product-details">

  <div class="container" *ngIf="product">
  
    <div class="page-header">
      <h1>
        <small>{{category}}</small>
        <br/>
        {{product.name}}
      </h1>
    </div>

    <div class="row">
      <div class="col-md-8">
        
        <section>
          
          <div class="product-image">
            <app-products-image-viewer [images]="product.pictures"></app-products-image-viewer>
          </div>
          
          <div class="product-price visible-xs">
            <small>Price</small>
            <br/>
            <strong>{{product.price || 'N/A'}}</strong>
            <br/>
            <br/>
            <br/>
          </div>
          
          <ul class="nav nav-tabs">
            <li role="presentation" [ngClass]="{ 'active': (currentTab === 0) }">
              <a (click)="currentTab = 0">Description</a>
            </li>
            <li role="presentation" [ngClass]="{ 'active': currentTab === 1 }">
              <a (click)="currentTab = 1">Reviews</a>
            </li>
          </ul>
          
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane" [ngClass]="{ 'active': (currentTab === 0) }">
              <p>{{product.description}}</p>
            </div>
            <div role="tabpanel" class="tab-pane" [ngClass]="{ 'active': currentTab === 1 }">
              <ng-template ngFor let-review [ngForOf]="product.reviews" *ngIf="product.reviews.length">

              </ng-template>
              <div *ngIf="!product.reviews.length">
                <p>There are no reviews for this product.</p>
              </div>
            </div>
          </div>

        </section>

      </div>
      <div class="col-md-4">

        <div class="product-price hidden-xs">
          <small>Price</small>
          <br/>
          <strong>{{product.price || 'N/A'}}</strong>
          <br/>
        </div>

        <aside>
          <h3>Tech Specs:</h3>
          <ng-template ngFor let-spec [ngForOf]="specs" let-i="index">
            <div class="row">
              <div class="col-xs-5">
                <p><strong>{{spec.label}}</strong></p>
              </div>
              <div class="col-xs-7">
                <p>{{spec.value || 'N/A'}}</p>
              </div>
            </div>
          </ng-template>
          <br/>
          <button type="button" class="btn btn-primary btn-block">Buy</button>
        </aside>

      </div>
    </div>

  </div>

  <div class="text-center" *ngIf="!product">
    <img src="assets/img/spinner.svg" />
  </div>

</div>
