<div class="well">
  <div class="row">
    <div class="col-xs-6">
      <div class="form-inline">
        <label class="control-label">Sort By:</label>
        <select class="form-control" [(ngModel)]="sortBy">
          <option value="name">Alphabetically</option>
          <option value="price-asc">Price: Low to High</option>
          <option value="price-desc">Price: High to Low</option>
        </select>
      </div>
    </div>
    <div class="col-xs-6 text-right">
      <div class="btn-group" role="group" aria-label="View Options">
        <button type="button" class="btn" [ngClass]="mode === 'grid' ? 'btn-primary' : 'btn-default'" (click)="setMode('grid')">
          <i class="glyphicon glyphicon-th-large"></i>
        </button>
        <button type="button" class="btn" [ngClass]="mode === 'list' ? 'btn-primary' : 'btn-default'" (click)="setMode('list')">
          <i class="glyphicon glyphicon-th-list"></i>
        </button>
      </div>
    </div>
  </div>
</div>